<!DOCTYPE html>
<html>
    <head>
	  {% block head %}
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	  <script src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="{{ url_for('static', filename='options.js') }}"></script>
      <script src="{{ url_for('static', filename='graph.js') }}"></script>
	  <script src="{{ url_for('static', filename='graphSwitcher.js') }}"></script>
	  <title>{% block title %}{% endblock %}</title>
	  {% endblock %}
    </head>
  <body {% block bodyStyle %}{% endblock %}>
    <header>
		
	</header>
	{% block body %}{% endblock %}
	<footer>
		<div id='copyright'>
			&copy; 2017 Tejas. P. Herle
		</div>
	</footer>
  </body>
</html>
