{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<script src="{{ url_for('static', filename='leaderboard.js') }}"></script>
{% endblock %}
{% block title%}Marks Analyzer: Leaderboard{% endblock %}
{% block bodyStyle %}style="margin: 25px;"{% endblock %}
{% block body %}
{{ super() }}
<div id='pageTitle'><h1>Leaderboard</h1></div>
<div id='options'></div>
<table>
  <thead>
	<td>Rank</td>
	<td>Names</td>
	<td>Marks</td>
	<td>Percentage</td>
	<td>Percentile</td>
  </thead>
  {% for data in stdntData[:-1] %}
  <tr>
	<td>{{ data[1] }}.</td>
	<td id='name{{ data[1] }}'>{{ data[2] }}</td>
	<td id='total{{ data[1] }}'>{{ data[3] }}</td>
	<td>{{ data[4] }}</td>
	<td>{{ data[5] }}</td>
	<td><a href='/student?uid={{ data[0] }}&exam={{ stdntData[-1] }}'>
		View Student</a></td>
  </tr>
  {% endfor %}
</table>
<!-- Ratio 10:7 -->
<div class='graphCont' style='padding: 0px;'>
<div id="graphDiv" style="height: 500px;"></div>
</div>
<div id='previous' class='graphBtn' onclick='gs.plusGraph(-1)'>&#10094;</div>
<div id='next' class='graphBtn' onclick='gs.plusGraph(1)'>&#10095;</div>
<div id='dotCont'>
  <span class="dot" onclick="gs.setGraph(0)"></span>
  <span class="dot" onclick="gs.setGraph(1)"></span> 
  <span class="dot dotImpr" onclick="gs.setGraph(2)"></span> 
  <span class="dot dotImpr" onclick="gs.setGraph(3)"></span>  
</div>
<script>
	let gs;
	$(document).ready(function() {
		setup();
	});
</script>
{% endblock %}
